<div class="col-md-6 push-md-3 mt-3">
  <div class="input-group">
    <input [(ngModel)]="keyword" id="1" class="form-control" type="text" name="keyword" placeholder="Search..." required/>
    <span class="input-group-btn search-btn">
      <button (click)="searchAction()" class="btn btn-primary text-white"   type="submit">
      <i class="glyphicon glyphicon-search" aria-hidden="true"></i> <strong>Search</strong>
      </button>
      </span>
  </div>
  <ul class="list-group">
    <li *ngFor="let meme of memes"
        class="list-group-item"
        (mouseover)="highlight($event)" (mouseout)="dehighlight($event)"
        (click)="getDeals(suggestion)">
      {{ meme }}
    </li>
  </ul>
</div>
