<div class="page">
  <app-nav [login]="true"></app-nav>
  <div class="p-5">
    <div class="row">
      <div class="col stock-img">
        <img class="card-img" height="400px" width="433px" src="{{memeImg}}">
      </div>
      <div class="col stock-info">
        <app-stockinfo [stock]="stock"></app-stockinfo>
      </div>
      <div class="col stock-buyer">
        <app-stockbuyer [stock]="stock"></app-stockbuyer>
      </div>
    </div>
  </div>
  <div class="row px-5 my-2">
    <div class="col stock-graph">
      <app-graph></app-graph>
    </div>
  </div>


</div>
