<div class="card">
  <h3 class="card-header"> Trade this meme </h3>
  <div class="card-block">
    <table class="table">
      <tbody>
      <tr>
        <td>
          <div class="form-group">
          <label for="exampleInputEmail1"> Price: </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </td>
        <td>
          <div class="form-group">
          <label for="exampleInputPassword1"> Qty </label>
          <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        </td>
      </tr>
      </tbody>
    </table>
    <form>


      <fieldset class="form-group">
        <legend>Choose trading option:</legend>
        <div class="row">
          <div class="form-check pl-3">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Buy
            </label>
          </div>
          <div class="form-check pl-3">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Sell
            </label>
          </div>
        </div>
      </fieldset>
    </form>
    <p class="card-text">With supporting text below as a natural.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
