<nav class="navbar navbar-inverse bg-primary">
  <div class="row">
    <a class="navbar-brand pl-3" href="#">
      <img src="../../assets/logo.png" width="50" height="30" alt="">
    </a>
    <form class="col-md-6 push-md-6 form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="col-md-3 push-md-4">
      <div class="row flex-last">
        <button class="btn btn-primary text-white"> Login </button>
        <button class="btn btn-info text-white"> Sign Up </button>
      </div>
    </div>
  </div>
</nav>
