<div class="main">
  <div class="row py-3">
    <img class="img-fluid col-md-1 ml-5" src="../../assets/logo.png"/>
    <div class="col-md-3 push-md-9">
      <button class="btn btn-primary text-white"> Login </button>
      <button class="btn bg-info text-white"> Sign Up </button>
    </div>
  </div>
  <div class="main-text col-md-8 push-md-2 text-white text-center mb-5">
    <h1 class="display-4"> Welcome to Meme Stock Exchange</h1>
    <p class="lead"> The home of meme trading... </p>
  </div>
  <app-searchcomponent class=""></app-searchcomponent>
</div>
