<div class="card clear-size">
  <h3 class="card-header"> {{memeName}} </h3>
  <div class="card-block">
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">Current price:</th>
        <td>{{currentPrice}}</td>
        <td>Down</td>
        <td>30%</td>
      </tr>
      <tr>
        <th scope="row">Market Cap</th>
        <td>{{marketCap}}</td>
        <th scope="row">Opening</th>
        <td>{{opening}}</td>
      </tr>
      <tr>
        <th scope="row">52 week high</th>
        <td>{{memeHigh}}</td>
        <th scope="row">52 week low</th>
        <td>{{memeLow}}</td>
      </tr>
      </tbody>
    </table>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

