<div class="card clear-size">
  <h3 class="card-header"> Your Meme Portfolio </h3>
  <div class="card-block">
    <table class="table">
      <tbody>
      <tr *ngFor="let meme of portfolio">
        <th scope="row">Current price:</th>
        <td> Meme: {{meme.name}}</td>
        <td>Current Price: {{meme.current_price}}</td>
        <td>Stocks Bought: {{meme.qty}}</td>
        <td>Total value: {{meme.qty}}</td>
        <td>Net Revenue: {{meme.qty}}</td>
        <td>30%</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

