<div class="card clear-size">
  <h3 class="card-header"> Your Meme Portfolio </h3>
  <div class="card-block">
    <table class="table">
      <tbody>
      <tr *ngFor="let key of keys">
        <td> Meme: {{actual[key].name}}</td>
        <td>Stocks Bought: {{actual[key].quantity}}</td>
        <td>Total value: ${{actual[key].quantity*current_price}}</td>
        <td>Net Revenue: ${{actual[key].quantity*current_price - actual[key].quantity*actual[key].pur_price}}</td>
        <td>Date Bought: {{actual[key].date}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

