<div class="card clear-size">
  <h3 class="card-header"> {{userName}} </h3>
  <div class="row justify-content-center">
    <img class="card-img" height="150" width="150" src="{{profileImg}}">
  </div>
  <div class="card-block">
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">Current Balance:</th>
        <td>{{balance}}</td>
      </tr>
      <tr>
        <th scope="row">Revenue Analysis</th>
        <td>Positive</td>

      </tr>
      <tr>
        <th scope="row">Portfolio</th>
        <td>Diverse</td>
      </tr>
      </tbody>
    </table>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

