<div class="card clear-size">
  <h3 class="card-header"> Trade this meme </h3>
  <div class="card-block">
    <table class="table">
      <tbody>
      <tr>
        <td>
          Your Balance
        </td>
        <td>
          {{new_bal}}
        </td>
      </tr>
      <tr>
        <td>
          Quantity
        </td>
        <td>
          Total Price
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
          <input [(ngModel)]="quantity" (keyup)="calculatePrice()" type="number" class="form-control" id="quantity" placeholder="Enter number">
          </div>
        </td>
        <td>
          {{total_price}}
        </td>
      </tr>
      </tbody>
    </table>
    <form>


      <fieldset class="form-group">
        <legend>Choose trading option:</legend>
        <div class="row">
          <div class="form-check pl-3">
            <label class="form-check-label">
              <input type="radio" (change)="buying = true" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Buy
            </label>
          </div>
          <div class="form-check pl-3">
            <label class="form-check-label">
              <input type="radio" (change)="buying = false" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Sell
            </label>
          </div>
        </div>
      </fieldset>
    </form>
    <button class="btn btn-primary" (click)="toggle()">Perform Action</button>
  </div>
</div>
